<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
<div class="navbar">
    <i class='bx bxs-plane-alt logo' routerLink=""></i>
    <p routerLink="" class="navbarAppName">SIMU PERMIS PISTE</p>

    <a *ngIf="!isLoggedIn()" routerLink="login">Connexion</a>
    <a *ngIf="!isLoggedIn()" routerLink="register">Inscription</a>

    <ng-container *ngIf="isLoggedAsUser()">
        <div class="dropdown">
            <a class="dropbtn">Mes inscriptions <i class='bx bxs-chevron-down'></i></a>
            <div class="dropdown-content">
                <a routerLink="inscription">Voir mes inscriptions</a>
                <a routerLink="inscription/add">S'inscrire à une mission</a>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isLoggedAsAdmin()">
        <div class="dropdown">
            <a class="dropbtn">Missions<i class='bx bxs-chevron-down'></i></a>
            <div class="dropdown-content">
                <a routerLink="mission">Gérer les missions</a>
                <a routerLink="mission/create">Créer une mission</a>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="isLoggedAsAdmin()">
        <div class="dropdown">
            <a class="dropbtn">Actions<i class='bx bxs-chevron-down'></i></a>
            <div class="dropdown-content">
                <a routerLink="action">Gérer les actions</a>
                <a routerLink="action/add">Créer une action</a>
            </div>
        </div>
    </ng-container>

    <a *ngIf="isLoggedAsAdmin()" routerLink="user">Utilisateurs</a>

    <a *ngIf="isLoggedIn()" routerLink="user/me">Compte : {{ getUsername() }}</a>
    <a *ngIf="isLoggedIn()" (click)="logout()">Déconnexion</a>
</div>