.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    z-index: 100;
}

.navbar .logo {
    font-size: 50px;
    margin-right: 30px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.4rem;
    font-weight: 550;
}

.navbarAppName {
    color: rgb(40, 40, 40);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.4rem;
    font-weight: 550;
    margin-right: 30px;
}

.navbar * {
    cursor: pointer;
}