.myPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.content {
    width: 85%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TABLEAU */

.missionLine {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fullMissionList {
    width: 100%;
}

.actionTitle {
    font-size: 1.15rem;
    font-weight: 600;
}

.fullActionList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actionElem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // margin-top: 5px;
    // margin-bottom: 5px;
}

/* FIN TABLEAU */

h1 {
    font-size: 2rem;
}

.separator {
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 1px;
    margin-bottom: 3px;
}

.validationBtnDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.validationBtn {
    padding: 8px;
    border-radius: 6px;
    color:white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: ease-in-out 0.1s;
}

.validationBtn:hover {
    background-color: white;
    transition: ease-in-out 0.1s;
}

.accessBtn {
    border: solid 1px rgb(77, 172, 255);
    background-color: rgb(77, 172, 255);
}

.accessBtn:hover {
    color:rgb(77, 172, 255);
}

.doneBtn {
    border: solid 1px #49bb64;
    background-color: #49bb64;
}

.doneBtn:hover {
    color: #49bb64;
}

@media (max-width: 900px) {
    .content {
        width: 100%;
    }
}