<section class="myPage">
    <div class="content">
        <h1>Liste des utilisateurs</h1>

        <div class="listLine">
            <h3 style="flex-basis: 15%;">Nom</h3>
            <h3 style="flex-basis: 15%;">Prénom</h3>
            <h3 style="flex-basis: 27%;">Adresse email</h3>
            <h3 style="flex-basis: 10%;">Rôle</h3>
            <h3 style="flex-basis: 13%;">Pseudo</h3>
            <h3 style="flex-basis: 10%;">Changer role</h3>
            <h3 style="flex-basis: 10%;">Supprimer</h3>
        </div>

        <div *ngFor="let user of allUsers" class="fullList">
            <div class="separator"></div>
            <div class="listLine">
                <p style="flex-basis: 15%;">{{ user.surname }}</p>
                <p style="flex-basis: 15%;">{{ user.forename }}</p>
                <p style="flex-basis: 27%;">{{ user.email }}</p>
                <p style="flex-basis: 10%;">{{ user.role }}</p>
                <p style="flex-basis: 13%;">{{ user.username }}</p>
                <p style="flex-basis: 10%;" class="listButton manageButton" (click)="updateRole(user.id, user.role)">
                    Passer {{ user.role === 'admin' ? 'learner' : 'admin' }}
                </p>
                <p style="flex-basis: 10%;" class="listButton deleteButton" (click)="deleteUser(user.id)">Supprimer</p>
            </div>
        </div>
    </div>
</section>