<section class="myPage">
    <div class="content">
        <h1>Créer une nouvelle action</h1>
        <form [formGroup]="createActionForm" (ngSubmit)="onSubmit()">
            <div class="formGroup">
                <label for="wording">Nom de l'action</label>
                <input type="text" id="wording" formControlName="wording" required>
            </div>

            <div class="formGroup">
                <label for="scoreMinimum">Score minimum</label>
                <input type="text" id="scoreMinimum" formControlName="scoreMinimum" required>
            </div>

            <div class="separator"></div>

            <div class="formGroup">
                <label for="previousActionId">Action dépendante si existante</label>
                <input type="text" id="previousActionId" formControlName="previousActionId" required placeholder="Id de l'action dépendante">
            </div>

            <div *ngIf="showErrorMessage">
                <p class="errorMessage">Création invalide : Veuillez réessayer</p>
            </div>

            <div *ngIf="showSuccessMessage">
                <p class="successMessage">Création validée !</p>
            </div>

            <button type="submit">Ajouter une action</button>
        </form>

    </div>
</section>