.myPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}

.content {
    width: 85%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullList {
    width: 100%;
}

.listLine {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.separator {
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 1px;
    margin-bottom: 3px;
}

.lstActions {
    display: flex;
    flex-direction: column;
}

.validationBtnDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.validationBtn {
    padding: 8px;
    border-radius: 6px;
    color:white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: ease-in-out 0.1s;
}

.validationBtn:hover {
    background-color: white;
    transition: ease-in-out 0.1s;
}

.accessBtn {
    border: solid 1px rgb(77, 172, 255);
    background-color: rgb(77, 172, 255);
}

.accessBtn:hover {
    color:rgb(77, 172, 255);
}

.doneBtn {
    border: solid 1px #2ab325;
    background-color: #2ab325;
}

.doneBtn:hover {
    color: #2ab325;
}

@media (max-width: 900px) {
    .content {
        width: 100%;
    }
}