<section class="myPage">
  <div class="content">
    <h1>Inscription</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="formGroup">
        <label for="surname">Prénom</label>
        <input type="text" id="surname" formControlName="surname" required>
      </div>
      <div class="formGroup">
        <label for="forename">Nom de famille</label>
        <input type="text" id="forename" formControlName="forename" required>
      </div>
      <div class="formGroup">
        <label for="email">E-Mail</label>
        <input type="text" id="email" formControlName="email" required>
      </div>

      <div class="separator"></div>

      <div class="formGroup">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" formControlName="username" required>
      </div>

      <div class="formGroup">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" required>
      </div>

      <div *ngIf="showErrorMessage">
        <p class="errorMessage">Inscription invalide : Veuillez réessayer</p>
      </div>

      <button type="submit">S'inscrire</button>
    </form>

  </div>
</section>